// scss/_buttons.scss
@import 'config';

@each $key, $value in (primary: $primary-color, secondary: $secondary-color) {
    .btn-#{$key} { 
        background: $value;
        color: $light-color;
        padding: calculate-padding(0.7) calculate-padding(1.5);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        transition: background 0.3s ease;

        &:hover { 
            background: darken($value, 10%);
        }
    }
}